@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
  background-color: #000;
  color: white;
  padding: 40px;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}

.buttonlevel{
  height: 50px;
  width: 140px;
}

.colorful-button {
  font-family: 'Fjalla One', sans-serif;
  height: 50px;
  width: 100px;
  font-size: medium;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  color: #111;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.colorful-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.colorful-button:active {
  color: #fff
}

.colorful-button:active:after {
  background: transparent;
}

.colorful-button:hover:before {
  opacity: 1;
}

.colorful-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.container-img{
  text-align: center;
}
.container-img .center{
  vertical-align: middle;
}

.card{
  background-color: white;
  border-radius: 50px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: justify;
  color: #000;
}

.card-text{
  position: relative;
  padding: 30px 20px 30px 20px;
}

.difficulty{
  margin-top: 50px;
}

.rowCard {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.rowCard50 {
  width: 50%;
}

img{
  width: 70%;
}

section{
  overflow: hidden;
}

section:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: hue;
  animation: animate 20s linear infinite;
}
@keyframes animate
{
  0%
  {
      background: #f00;
  }
  10%
  {
      background: #ff0;
  }
  20%
  {
      background: linear-gradient(0deg, rgba(255,255,0,1) 0%, rgba(0,255,0,1) 100%);
  }
  30%
  {
      background: #0f0;
  }
  40%
  {
      background: #0ff;
  }
  50%
  {
      background: #f0f;
  }
  60%
  {
      background: #00f;
  }
  70%
  {
      background: #0158;
  }
  80%
  {
      background: rgb(255, 94, 0);
  }
  90%
  {
      background: rgb(2, 126, 33);
  }
  100%
  {
      background: rgb(89, 0, 255);
  }
 
}

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

div .form-item {
  display: flex;
  margin: 5px 5px 5px 5px;
  display: block;
  background-color: beige;
}

  form {
    z-index: 1000;
    position: relative;
  }

  div.div-bloco {
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

input {
    font-family: 'Fjalla One', sans-serif;
    width: 475px;
    padding: 5px 5px;
    margin: 5px 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
  width: 150px;
  padding: 5px 5px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
  pointer-events: auto;
  cursor: default;
}

input.ng-invalid.ng-touched {
  border-color: red;
}
.error {
  color: red;
  font-style: italic;
  font-size: 12px;
}