body{
    margin: 0;
    padding: 0;
}

.cerebro-box{
    width: 600px;
    height: 600px;
    border: 1px solid blue;
}

#cerebro-image {
    background: url("../assets/images/cerebro.png") no-repeat;
    position: relative;
    height: 500px;
}

section{
    overflow: hidden;
}


section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: hue;
    animation: animate 20s linear infinite;
}
@keyframes animate
{
    0%
    {
        background: #f00;
    }
    10%
    {
        background: #ff0;
    }
    20%
    {
        background: #fff;
    }
    30%
    {
        background: #0f0;
    }
    40%
    {
        background: #0ff;
    }
    50%
    {
        background: #f0f;
    }
    60%
    {
        background: #00f;
    }
    70%
    {
        background: #0158;
    }
    80%
    {
        background: rgb(255, 94, 0);
    }
    90%
    {
        background: rgb(2, 126, 33);
    }
    100%
    {
        background: rgb(89, 0, 255);
    }
   
}