  form {
    z-index: 1000;
    position: relative;
  }

  div.div-bloco {
    display: flex;
    justify-content: center;
    width: 100%;

  }

  input.submit{
    font-family: 'Fjalla One', sans-serif;
    width: 588px;
    padding: 5px 5px;
    margin: 8px 8px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
  }

button {
  width: 188px;
  padding: 5px 5px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;

  pointer-events: auto;
  cursor: default;
}

input.ng-invalid.ng-touched {
  border-color: red;
}
.error {
  color: red;
  font-style: italic;
  font-size: 12px;
}